Proyectofase2/Warlockbeta/Warlockbeta/Web References/ConsultarDB/Consultar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://web_services/" targetNamespace="http://web_services/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Validar_Login" type="tns:Validar_Login" />
  <xs:element name="Validar_LoginResponse" type="tns:Validar_LoginResponse" />
  <xs:complexType name="Validar_Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Validar_LoginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>